<head>
<link href='https://fonts.googleapis.com/css?family=Galada|Pacifico|Architects+Daughter|Gloria+Hallelujah|Satisfy|Permanent+Marker|Rock+Salt|Changa+One' rel='stylesheet' type='text/css'>
</head>
<template name="layout">
	<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
  <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>

  </button>

      <a class="navbar-brand" >TraWorld</a>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-right">

        {{#if currentUser}}
        	<li role="presentation">
						<button id="navbut" class="js-goto btn buttonblue"><img  src="../images/whitemic.png"> Speak to Navigate</button> </li>

	  		<li role="presentation" title="Home">
		          <a href="{{pathFor 'home'}}">
		          	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>
	          </li>

	          <li role="presentation" id="itin">
	     		<a href="{{pathFor 'pastitin'}}">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
					Itineraries
				</a>

	          </li>


			<!-- GROUP CAMP -->
			<li role="presentation" class="dropdown">
				<a href="{{pathFor 'groupCampSearch'}}">
					<span class="glyphicon glyphicon-tent" aria-hidden="true"></span>&nbsp;
					Group Camp
				</a>
			</li>

	           <li role="presentation" title="Comments">
	     		<a href="{{pathFor 'map'}}">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
					Maps
					<!-- <h6>Google Maps API</h6> -->
				</a>
	          </li>
						<!-- <li role="presentation">
						<button id="navbut" class="js-goto btn buttonblue"></button> </li> -->
			<!-- COMMENTS -->
	  	     <!-- <li role="presentation" title="Comments">
	     		<a href="http://localhost:3000/showsearch/WrkEHWfFtwLpZtTbS?">
					[TEMPORARY]
				</a>
	          </li> -->

			<li role="presentation" class="dropdown topdrop">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
					 {{userName.profile.username}}
						<span class="caret"></span> </a>
					<ul class="dropdown-menu thisdrop">
						<li><a id="navtab" href="{{pathFor 'userprofiles'}}">My Profile</a></li>
						<li role="separator" class="divider"></li>
						<li><a id="navtab" href="{{pathFor 'itineraries'}}">Create Itinerary</a></li>
						<li role="separator" class="divider"></li>
						<li><a id="navtab" href="{{pathFor 'myitinerary'}}">My Itinerary</a></li>
						<li role="separator" class="divider"></li>
						<li><a id="navtab" href="{{pathFor 'userfavs'}}">My Favorites</a></li>
						<li role="separator" class="divider"></li>
						<li class="logout"><a id="navtab" href="#">Logout</a></li>
					</ul>
				</li>
				<!-- <li class="nav">
					<nav class="nav" id="onlythis">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>

  <ul id="out" class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-blue"><i class="fa fa-camera-retro"></i></a>
    </li>
    <li class="nav__item">
      <a href="#2" class="nav__link c-yellow scrolly"><i class="fa fa-bolt"></i></a>
    </li>
    <li class="nav__item">
      <a href="#3" class="nav__link c-red"><i class="fa fa-music"></i></a>
    </li>
    <li class="nav__item">
      <a href="#4" class="nav__link c-green"><i class="fa fa-paper-plane"></i></a>
    </li>
  </ul>
</nav>
</li> -->
			{{else}}
					<li  class="pull-right" role="presentation">
						<a href="{{pathFor 'login'}}">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<h6>Sign in</h6>
						</a>
					</li>
			<li  class="pull-right" role="presentation">
				<a href="{{pathFor 'signup'}}">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h6>Sign up</h6>
				</a>
			</li>


			{{/if}}
		<!-- </ul> -->
      </ul>

    </div>
  </div>
</div>

{{> yield}}
</template>
